<div class="h-96 max-w-6xl mx-auto relative z-10">
  <div class="absolute flex items-center justify-center md:justify-start w-full max-w-6xl h-96 bg-gray-800/60 z-10">
    <div class="max-w-xl text-white space-y-9 px-8 text-center md:text-left">
      <h1>{{ section.settings.heroHeadline }}</h1>
      <h2>
        {{ section.settings.heroDescription }}
      </h2>
    </div>
  </div>
  {% if section.settings.image %}
    {{ section.settings.image | image_url: width: 1200 | image_tag: class: "w-full h-full object-center object-cover relative" }}
  {% else %}
    {{ 'image' | placeholder_svg_tag: "w-full h-full object-center object-cover relative" }}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Hero Image"
      }, {
        "type": "text",
        "id": "heroHeadline",
        "label": "Hero Section Headline",
        "default": "Top-of-the-line equipment for less."
      }, {
        "type": "textarea",
        "id": "heroDescription",
        "label": "Hero Section Description",
        "default": "We find the best offers for unique bowling equipment, helping you perform at a higher level for a lower price."
      }
    ],
    "presets": [
      {
        "name": "Hero Section"
      }
    ]
  }
{% endschema %}