<div class="py-6 px-4 flex justify-around items-center gap-2 text-center">
  <a href="#" class="w-64 py-4 px-2 border border-hard-border rounded-lg">
    <span>Shop by Color</span>
  </a>
  <a href="#" class="w-64 py-4 px-2 border border-hard-border rounded-lg">
    <span>Shop by Weight</span>
  </a>
  <a href="#" class="w-64 py-4 px-2 border border-hard-border rounded-lg">
    <span>Shop by Brand</span>
  </a>
</div>

{% schema %}
  {
    "name": "Shop By",
    "presets": [
      {
        "name": "Shop By"
      }
    ]
  }
{% endschema %}