<div class="my-8 px-1 flex justify-center items-center gap-2 md:gap-6 text-center flex-col md:flex-row">
  <a href="{{ routes.search_url }}" class="w-full py-4 px-2 border border-hard-border rounded-lg">
    <span>Shop by Color</span>
  </a>
  <a href="{{ routes.search_url }}" class="w-full py-4 px-2 border border-hard-border rounded-lg">
    <span>Shop by Weight</span>
  </a>
  <a href="{{ routes.search_url }}" class="w-full py-4 px-2 border border-hard-border rounded-lg">
    <span>Shop by Brand</span>
  </a>
</div>

{% schema %}
  {
    "name": "Shop By",
    "presets": [
      {
        "name": "Shop By"
      }
    ]
  }
{% endschema %}